.loginForm {
	text-align:center;
}

.input {
	margin-bottom: 3px;
}

.notePadHeader {
	font-family: 'Gloria Hallelujah', cursive;
	color: white;
}

body {
	background-image: url("photos/notepadBGphoto.jpg");
	background-size: 100%;
}

.notePadContainer {
   background: rgba(226, 229, 255, 0.5);
}

.notePadTable  {
	padding: 3px 3px 3px 3px;
}

.signIn {

}
